.navbar {
  padding-top: 1rem;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.navbar div {
  width: 33%;
  & img {
    width: 30px;
    margin-left: 10rem;
  }
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 4rem;
}

.nav-item a {
  text-decoration: none;
  color: #d4ccb6;
  font-weight: 600;
  transition: all 0.5s;
}
.nav-item a:hover {
  color: #dfa608;
  font-size: 1.1rem;
}

/* main */
.main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 93vh;
  gap: 1rem;
  overflow: hidden;
}
.logo {
  width: 230px;
}
.left h1 {
  font-size: 4rem;
  color: #ffc632;
}
.left p {
  font-size: 2.5rem;
  color: #d4ccb6;
}
/* variaveis */
#section-container {
  margin-top: 1rem;
}

#title-objeto,
#title-decision,
#title-repetition,
#title-variable,
#title-loops,
#title-metodos {
  text-align: center;
  color: #ffc632;
  font-size: 2.7rem;
  margin-top: 2rem;
}

.variable-container {
  width: 100%;
  min-height: 100vh;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.content-info {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
}

.card {
  padding: 20px 38px;
  background-color: rgb(50, 48, 48);
  width: 70%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card h2 {
  color: #d4ccb6;
}
.title {
  font-size: 2.3rem;
}
.description {
  color: #afb6c2;
  font-weight: bold;
  font-size: rem;
  line-height: 2rem;
}
.content-exemplos {
  margin-top: 4rem;
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
.item-exemplo {
  text-align: center;
  width: 420px;
}
.img-variable {
  width: 200px;
}

/* sections about objetcs */
.ul-container {
  padding: 12px 26px;
  margin-left: 1rem;
  list-style: #fff;
  color: #afb6c2;
}
.topics {
  margin-bottom: 0.6rem;
  font-size: 1.2rem;
}
.topics span {
  padding-right: 0.4rem;
  text-align: center;
  font-weight: bold;
}
.att {
  color: #a72c0d;
}
span {
  font-size: 1.1rem;
  color: #ffffff;
}

.code-container {
  background-color: #1e1f20;
  padding: 12px 18px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  & h3 {
    color: #ffc632;
    margin-left: 4.5rem;
  }
  & .coments {
    color: #707070;
  }
  & .type-variavel {
    color: rgb(128, 0, 55);
    padding: 0 0.4rem;
  }
  & .name-object {
    color: #cecece;
  }
  & .key {
    color: #d05d0b;
  }
  & .string {
    color: rgb(22, 159, 18);
    padding-left: 0.4rem;
  }
  & .number {
    color: rgb(25, 68, 224);
    padding-left: 0.4rem;
  }
  & .metod {
    color: rgb(114, 141, 239);
  }
}
.code {
  color: #fff;
}
.header-code {
  display: flex;
  justify-content: space-between;
  & button {
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    padding: 1px 10px;
    border: 1px solid blakc;
  }
}

.resumo {
  width: 100%;
  padding: 0 0.8rem;
}
.descriptionAboutObjetc {
  width: 100%;
}
@media (max-width: 768px) {
  /* Adjust breakpoint as needed */
  .left h1 {
    font-size: 2rem;
    color: #ffc632;
  }
  .logo {
    width: 160px;
  }

  .card {
    width: 90%;
  }
  .content-exemplos {
    flex-direction: column; /* Single-column layout for smaller screens */
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  flex-direction: column;
  color: #fff;
}
footer > ul {
  background-color: #1e1f20;
  border-radius: 12px;
  padding: 12px 18px;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  list-style: none;
  gap: 2rem;
  justify-content: center;
}
