header {
  width: 100%;
  padding: 18px 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 100%;

  display: flex;
  align-items: center;
}

.navbar div {
  width: 33%;
  & img {
    width: 30px;
    margin-left: 10rem;
  }
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 4rem;
}

.nav-item a {
  text-decoration: none;
  color: #d4ccb6;
  font-weight: 600;
}

/* main */
.main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}
.logo {
  width: 230px;
}
.left h1 {
  font-size: 4rem;
  color: #ffc632;
}
.left p {
  font-size: 2.5rem;
  color: #d4ccb6;
}
/* variaveis */
#sectionAboutVariable {
  height: 100vh;
}
.title-section {
  text-align: center;
  color: #ffc632;
  font-size: 2.5rem;
  margin-top: 2rem;
}

.variable-container {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.content-info {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
}

.card {
  padding: 20px 38px;
  background-color: rgb(50, 48, 48);
  width: 60%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card h2 {
  color: #d4ccb6;
}
.item .title {
  font-size: 2.3rem;
}
.item .description {
  color: #afb6c2;
  font-weight: bold;
  font-size: rem;
  line-height: 2rem;
}
.content-exemplos {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;

  width: 60%;
}
.item-exemplo {
  text-align: center;
  width: 30%;
}
